body{
    background-color: rgb(232, 232, 113)
}
.header img{width:500px;
margin: 0 auto;
display: block;
padding-top: 10px;
padding-left: 10px;
padding-right: 10px;
padding-bottom: 10px;}
.header{
    text-align: center;
  }
.main{
    padding-left: 75px ;padding-right: 75px ;padding-bottom: 75px;
}
.main h1{
    font-weight: bold;
    font-size: 3em;
    text-align: center;
}
.main p{
    table-layout: auto
}